.cargando {
  border-radius: 15px;
  background: linear-gradient(100deg, #ffc488 0%, #ee964b 50%, #ffc488 80%);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite;
  height: 300px; /* Altura mientras carga */
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
