.galeria {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.galeria__contenedor {
  overflow-y: auto;
  overflow-x: visible;
}

.galeria__contenedor--scroll {
  /*Divide el contenido (los .item-galeria) en 4 columnas verticales.*/
  column-count: 4;
  column-gap: 16px;
  width: 1320px;
}

@media only screen and (min-width: 768px) {
  .galeria__contenedor--scroll {
    width: auto;
  }
}

.galeria__contenedor-imagen {
  /*No divide el elementro entre dos columnas*/
  break-inside: avoid;
  margin-bottom: 16px;
  border-radius: 15px;
  overflow: hidden;
  max-width: 100%;
}

.galeria__contenedor-imagen img {
  width: 100%;
  max-height: 350px;
  display: block;
  overflow: hidden;
  object-fit: cover;
}
