.borde-circulo {
  border: solid #ee964b;
  border-radius: 50px;
  width: 30px;
  height: 50px;
  position: relative;
}

.circulo-lleno {
  width: 20px;
  height: 20px;
  background-color: #ee964b;
  border-radius: 50px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  animation: bolita 1.5s ease infinite;
}

@keyframes bolita {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(0);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
}