.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal__contenedor {
  width: 400px;
  height: auto;
}

.imagen--modal {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
