* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primary: #0d3b66;   /* Texto principal */
  --color-secondary: #ee964b; /* Botones / acentos */
  --color-background: #faf0ca;/* Fondo */
  --color-hover: #ffa353;     /* Hover o foco */
  --color-parrafos: #2c2c2c;
  --borde-radius-principal: 15px;
  --borde: 3px;
}

body{
  font-family: "Puritan";
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
button{
  font-family: "Luckiest Guy";
  color: var(--color-primary);
}

h1 {
  font-size: 45px;
}

p,
span {
  font-size: 25px;
  color: var(--color-parrafos);
}

.boton{
  padding: 15px;
  border-radius: var(--borde-radius-principal);
  border: var(--borde) solid transparent;
  cursor: pointer;
}

.boton--principal{
  background-color: var(--color-secondary);
  transition: all .3s ease-in-out;
}

.boton--principal:hover{
  background-color: var(--color-hover);
}

