* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0d3b66; /* Texto principal */
  --color-secondary: #ee964b; /* Botones / acentos */
  --color-background: #faf0ca; /* Fondo */
  --color-hover: #ffa353; /* Hover o foco */
  --color-parrafos: #2c2c2c;
  --color-background-cajas: #fff;
  --borde-radius-principal: 15px;
  --borde: 3px;
}

body {
  font-family: "Puritan";
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
button {
  font-family: "Luckiest Guy";
  color: var(--color-primary);
}

h1 {
  font-size: 45px;
}

p,
span {
  font-size: 25px;
  color: var(--color-parrafos);
}

.boton {
  padding: 15px;
  border-radius: var(--borde-radius-principal);
  border: var(--borde) solid transparent;
  cursor: pointer;
}

.boton--principal {
  background-color: var(--color-secondary);
  transition: all 0.3s ease-in-out;
}

.boton--principal:hover {
  background-color: var(--color-hover);
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 578px) {
  .container {
    width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

.texto-centro {
  text-align: center;
}

.visible {
  display: block !important;
}

.oculto {
  display: none !important;
}

.caja-blanca {
  background: var(--color-background-cajas);
  padding: 20px;
  border-radius: 30px;
  max-width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  gap: 10px;
}

@media only screen and (min-width: 992px) {
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.imagen {
  border-radius: 15px;
  display: none;
}
